<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="{{asset 'images/favicon.ico'}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}">

    <title>{{l 'identity.fname'}} {{l 'identity.lname'}} - {{l 'identity.title'}}, {{l 'general.montreal'}}</title>

    <link rel='stylesheet' href={{asset 'stylesheets/style.css'}} />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
